@model IEnumerable<dierentuinn.Models.Dieren>

@{
    ViewData["Title"] = "Dieren";
}

<h1>Dieren</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Category</th>
            <th>Size</th>
            <th>Dietary Class</th>
            <th>Activity Pattern</th>
            <th>Enclosure</th>
            <th>Space Requirement</th>
            <th>Security Requirement</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Species)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Size)</td>
                <td>@Html.DisplayFor(modelItem => item.DietaryClass)</td>
                <td>@Html.DisplayFor(modelItem => item.ActivityPattern)</td>
                <td>@Html.DisplayFor(modelItem => item.Enclosure.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.SpaceRequirement)</td>
                <td>@Html.DisplayFor(modelItem => item.SecurityRequirement)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
